.book-item{
  border-bottom: 1px solid #000000;
  display: flex;
  padding: 10px;
}

img{
  height: 200px;
}

.desc{
  padding-left: 100px;
}

button{
  width: 50px;
  height: 30px;
  background-color: rgb(0, 89, 255);
  color: white;
  border: none;
}
.loading{
  text-align: center;
  font-size: large;
}